# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#Environmental varaible
.env
.env.local

# Dependency directories
node_modules/
.pnp/
.pnp.js
.pnpm.cjs

# Build directories
dist/
dist-ssr/
.out/
.next/
.cache/
build/
public/



# Test coverage
coverage/
.nyc_output/
jest-output/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE-specific files
*.iml

# Miscellaneous
tmp/
temp/
*.pid
*.seed
*.pid.lock

# Debug files
debug/
debug.log
debug.log.*
